.project-swiper {
  margin: 10vh 0;
  /* height: 500px; */
}

.swiper-slide {
  /* background-color: #FB2056; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 500px; */
  /* padding: 10px; */
}

.swiper-image {
  margin-top: -1px;
  width: 100%;
  object-fit: cover;
  height: 70vh;
}

.swiper-title {
  position: absolute;
  text-align: center;
  top: 80%;
  background-color: #FB2056;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 1px solid white;
  width: 50%;
  color: white;
  text-decoration: none;
}

.swiper-title:hover {
  background-color: white;
  color: #FB2056;
  transition: ease-out 0.5s;
  border: 1px solid #FB2056;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background-color: #FB2056;
  padding: 30px 20px;
  border-radius: 5px;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-pagination-bullet {
  background-color: #FB2056 !important;
}

.fullscreen-swiper {
  display: none;
}


@media (min-width: 1008px) {
  .project-swiper {
    display: none;
  }

  .fullscreen-swiper {
    display: block;
    width: 80%;
    height: 70vh;
    background-color: #FB2056;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 9px 18px -1px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 10px 9px 18px -1px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 10px 9px 18px -1px rgba(0, 0, 0, 0.76);
  }

  .fullscreen-project-swiper {
    margin: 50px 0;
    padding: 0 150px;
  }

  .swiper-image {
    height: 30vh;
    width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    border: 1px solid white;
  }

  .swiper-title {
    background-color: white;
    color: #FB2056;
  }

  .swiper-title:hover {
    background-color: #FB2056;
    color: white;
    transition: ease-in-out 0.5s;
    border: 1px solid white;
  }

  .swiper-pagination-bullet-active {
    background-color: white !important;
  }

  .swiper-pagination-bullet {
    background-color: white !important;
  }
}